<app-header></app-header>
<h1>Getting started with Angular</h1>
<h2>Data Binding</h2>
<app-dara-binding></app-dara-binding>
<hr/>

<h2>Click Event</h2>
<!-- eventos (basico) -->
<button (click)="incrementar()">Incrementar</button>

<!-- Input -->
<app-input [num]="count"></app-input>
<hr/>

<h2>Conditional rendering</h2>
<!-- conditional directives and life cicle -->
<app-title text="Conditional title" *ngIf="titleIsVisible"></app-title>
<button (click)="togglerIsVisible()">{{titleIsVisible ? "Hidden" : "Show"}} conditional title</button>

<h2>Structural Directives</h2>
<app-structural-directives [condition]="condition"></app-structural-directives>

<!-- Atribute directives -->
<app-atribute-directives [state]="condition">
    <h1>ngContent</h1>
    <p>fim da div</p>
</app-atribute-directives>

<!-- Output -->
<app-output (onSelectedPerson)="log($event)"></app-output>

<!-- Form -->
<h2>Form</h2>
<app-form></app-form>
